nav {
    display: block;
    font-size: 34px;
    border-radius: 110px;
}

.menuItem {
    padding: 50px;
}

.navbar {
    display: inline-block;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #303b45;
}

ol  {
	
}
img {
	max-width: 15%;
	height: auto;
}
.icon-image img {
    width: 35px;
    float: left;
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
  }
  
  .order-btn {
    background-color: #303b45;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .order-btn:hover {
    background-color: lightslategray;
  }

  /* about page */
 * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}